<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu Bar</title>
    <link rel="stylesheet" th:href="@{/css/admin/dashboard.css}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
<div class="sidebar" th:fragment="menuBar">
    <div class="logo-details">
        <svg xmlns="http://www.w3.org/2000/svg"  style="margin-left: 10%; color: #fff;" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16" width="30" height="60">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>
        <span class="logo_name" style="margin-left: 5%;">Thegioisach</span>
    </div>
    <ul class="nav-links">
<!--        <li>-->
<!--            <a th:href="@{/admin/dashboard}">-->
<!--                <i class='bx bx-grid-alt' ></i>-->
<!--                <span class="links_name">Dashboard</span>-->
<!--            </a>-->
<!--        </li>-->
        <li>
            <a th:href="@{/admin/user-index}">
                <i class='bx bx-user' ></i>
                <span class="links_name">Users</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/category-index}">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Categories</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/book-index}">
                <i class='bx bx-book-open'></i>
                <span class="links_name">Books</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/community}">
                <i class='bx bxs-paper-plane'></i>
                <span class="links_name">Community</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/message-index}">
                <i class='bx bx-message' ></i>
                <span class="links_name">Messages</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/friend-list}">
                <i class='bx bx-group'></i>
                <span class="links_name">Friends</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/view-shared-post}">
                <i class='bx bx-share'></i>
                <span class="links_name">Shared</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/view-advertisement}">
                <i class='bx bx-store'></i>
                <span class="links_name">Advertisements</span>
            </a>
        </li>
        <li class="log_out">
            <a th:href="@{/logout}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>