.date-input-style {
    height: 45px !important;
    margin-left: 67px;
    width: 400px;
    padding: 10px 20px 10px 20px;
    border: 1px solid lightgrey !important;
    border-radius: 6px !important;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

.action-btn-style{
    margin-top: 3%;
    margin-left: 3%;
    height: 7vh;
    width: 120vh;
}